AIRFLOW_HOME=@@AIRFLOW_HOME@@
HOME=@@AIRFLOW_HOME@@
PATH=/opt/airflow/venv/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin
AIRFLOW__API__HOST=127.0.0.1
AIRFLOW__API__PORT=@@AIRFLOW_PORT@@
AIRFLOW__CORE__DAGS_FOLDER=@@DAGS_FOLDER@@
AIRFLOW__CORE__LOAD_EXAMPLES=False
AIRFLOW__CORE__DAGS_ARE_PAUSED_AT_CREATION=True
AIRFLOW__CORE__PARALLELISM=2
AIRFLOW__CORE__DEFAULT_TIMEZONE=UTC
AIRFLOW__CORE__EXECUTION_API_SERVER_URL=http://127.0.0.1:@@AIRFLOW_PORT@@/execution/
AIRFLOW__CORE__SIMPLE_AUTH_MANAGER_USERS=@@ADMIN_USER@@:admin
AIRFLOW__CORE__SIMPLE_AUTH_MANAGER_PASSWORDS_FILE=@@PASSWORD_FILE@@
AIRFLOW__CORE__SIMPLE_AUTH_MANAGER_ALL_ADMINS=False
AIRFLOW__CORE__TEST_CONNECTION=Disabled

